*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-container{
    height: 50px;
    background-color: #2e3a46;
    padding: 0 1rem;

    .logo-container{
        height: 100%;
        padding: 0.5rem 0; 

        img{
            height: 100%;
        }
    }
}

.disks{
    background-color: #1e2d3b;

    .disks-container{

        .elements{
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
         
            .disk-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: calc((100% / 6) - 2rem);
                background-color: #2e3a46;
                text-align: center;
                margin: 1rem;
                

                img{
                    height: 200px;
                    width: 200px;
                    margin-top: 3rem ;
                }

                h2{
                    color: white;
                    padding: 2rem 0;    
                }

                .element-info{
                    padding-bottom: 3rem;

                    p{
                        color: #808080;
                        padding: 0.25rem 0;
                    }
                }
            }
        } 
        
        .loading{
            height: calc(100vh - 50px);
            background-color: #1c273a;
            display: flex;
            justify-content: center;
            color: #27ffff;
            text-align: center;
        }
    }
}